<div class="row">
  <div class="col m-3">
     <h2>サブスク新規登録</h2><br>
       <%= flash[:danger] %>
     <div class="row">
      <div class="mx-auto">
       <%= form_with model: @subscription, url: owner_subscriptions_path, local:true do |f| %>
      <table class="table table-borderless table-dark" style="opacity: 0.8;">
      <tr></tr>
       <th><%= f.label :画像 %></th>
       <td><%= f.attachment_field :subscription_image %></td>
      <tr></tr>
       <th><%= f.label :サブスク名 %></th>
       <td><%= f.text_field :subscription_name %></th>
      <tr></tr>
       <th><%= f.label :ジャンル %></th>
       <td><%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "選択してください"}) %></td>
      <tr></tr>
       <th><%= f.label :料金 %></th>
       <td><%= f.text_field :subscription_fee %>円</td>
      <tr></tr>
       <th><%= f.label :支払月 %></th>
       <td><%= f.select :payment_date, ["月額","日額"],{ include_blank: "選択してください" } %></td>
      <tr></tr>
      </table>
       <%= f.submit '新規登録', class: 'btn btn-success' %>
      <% end %>
    </div>
   </div>
  </div>
</div>