<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2>お問合せ内容確認</h2><br>
      <h4>以下の内容でお間違いが無いかご確認ください</h4><br>
      <%= form_with model: @inquiry, url:inquiry_thanks_path, local:true do |f| %>
      <table class="table table-hover table-inverse">
        <tr>
         <th>お名前：</th>
         <th>
           <%= f.hidden_field :name %>
           <%= @inquiry.name %>
         </th>
        </tr>

        <tr>
          <th>メールアドレス：</th>
          <th>
            <%= f.hidden_field :email %>
            <%= @inquiry.email %>
          </th>
        </tr>
        <tr>
          <th>メッセージ内容：</th>
          <th>
            <%= f.hidden_field :message %>
            <%= simple_format(@inquiry.message) %>
          </th>
        </tr>
      </table>
      
        <div>
          <%= f.submit "送信する", class: 'btn-sm btn-primary' %>
        </div>
      <% end %>

      <script>
        window.onunload = function() {};
        history.forward();
      </script>