<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2>お問合せ</h2>
      <%= form_with model: @inquiry, url:inquiry_confirm_path, local:true do |f| %>
        <div class="form-group">
          <%= f.label :name, 'お名前*' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder:'入力必須' %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス*' %>
          <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder:'入力必須' %>
        </div>
            
        <div class="form-group">
          <%= f.label :message, 'メッセージ*' %>
          <%= f.text_area :message, size: '10x10', class: 'form-control', placeholder:'入力必須' %>
        </div>
      
        <div>
          <%= f.submit '入力内容確認へ進む', class:'btn-sm btn-primary' %>
        </div>
      <% end %>
      
      <% if @inquiry.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @inquiry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>