<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2>プロフィール編集</h2>
      <% if flash[:danger] %>
        <div class="alert alert-danger col-6"><%= flash[:danger] %></div>
      <% end %>
      <div class="mt-5">
        <%= form_with model: @user, url: mypage_update_users_path, local:true do |f| %>
           <div class="col-auto">
             <p>氏名:<p>
             <%= f.text_field :family_name %> <%= f.text_field :first_name %>
           </div>
           <div class="col-auto">
             <p>フリガナ:<p>
             <%= f.text_field :family_name_kana %> <%= f.text_field :first_name_kana %>
           </div>
           <div class="col-auto">
             <p>ユーザーネーム:<p>
             <%= f.text_field :user_name %>
           </div>
           <div class="col-auto">
             <p>メールアドレス:<p>
             <%= f.text_field :email %>
           </div></br>
           <div class="col-auto">
           <%= f.submit "変更を保存", class:"btn btn-success" %>
           </div>
       </div>
       <% end %>
    </div>
  </div>
</div>