<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2 class="text mt-2"><%= @user.user_name %>さんのマイページ</h2>
        <div class="col d-flex aligin-items-center p-3">
          <h4>登録情報</h4>
        </div>
          <% if flash[:success] %>
            <div class="alert alert-success col-6"><%= flash[:success] %></div>
          <% end %>
        <table class="table table-hover table-inverse">
          <tr>
            <td>氏名</td>
            <td><%= @user.family_name %> <%= @user.first_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @user.family_name_kana %> <%= @user.first_name_kana %></td>
          </tr>
          <tr>
            <td>ユーザー名</td>
            <td><%= @user.user_name %></td>
          </tr>
            <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr></tr>
        </table>
        <%= link_to "プロフィールを編集する", mypage_edit_users_path, class:"Editlink" %></br>
        <%= link_to "退会する", unsubscribe_users_path, class:"Editlink" %>
    </div>
  </div>
</div>