<div class="container">
  <div class="row">
    <div class="col m-3 text-white">
      <h2>レビュー編集</h2>
      <div class="mt-5">
         <%= form_with model: @review, url:  subscription_review_path(@review.subscription_id, @review), local: true, method: :patch do |f| %>
          <%= f.hidden_field :subscription_id, { value: @subscription.id} %>
          <div class="form-group row">
            <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
            <div class="col-md-9">
              <%= f.text_field :title, class: "form-control",
              placeholder:'一番伝えたいことを記入してください' %>
            </div>
          </div>
          <div class="form-group row" id="rate">
            <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
            <%= f.hidden_field :star, id: :review_star %>
          </div>
          <script>
            $('#rate').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'review[rate]',
              half: true,
            });
          </script>
          <div class="form-group row">
            <%= f.label :body, '口コミ内容', class:'col-md-3 col-form-label' %>
            <div class="col-md-9">
              <%= f.text_area :body, class: "form-control", rows: "8",placeholder:'ここに詳細を記入してください' %>
            </div>
          </div>
          <div class="form-group row justify-content-end">
            <div class="col-md-9">
              <%= f.submit '投稿する', class:"btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>