    <% if reviews.present? %>
    <% reviews.each do |review| %>
    <div class = "row posts">
      <div class = "col-md-2" reviews_user>
        <%= link_to review.user do %>
        <%= image_tag review.user.profile_image %>
        <% end %>
        <p class = "review-title"><%= link_to review.user.user_name,review.user %></p>
      </div>
      <div class = "col-md6 mb-3">
        <div class = "review-content">
          <p><%= simple_time(review.created_at %></p>
          <h4 class ="mb-3">評価：<%= review.rate %>点｜<%= review.title %></h4>
          <div id = "star-rate-<%= review.id %>"></div>
          <script>
            $('#star-rate-<%= re.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>
        </div>
      </div>
      <div class="col-md-4">
        <%= link_to review.product do %>
          <div class="review-product">
            <p><%= review.review.title %></p>
          </div>
        <% end %>
      </div>
      <div class="col-md-12 edit-button">
        <% if current_user == review.user %>
          <%= link_to '口コミを編集', edit_review_path(review), method: :get, class:'btn btn-default' %>
          <%= link_to '口コミを削除', review, method: :delete, class:'btn btn-default' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% end %> 