<header>
  <h1></h1>
  <h2></h2>
</header>

<body>
  <div class="container mt-4">
    <div class="card-deck">
      <div class="card" style="width: 18rem;">
        <div class="card-img-top"><%= image_tag 'LovingDoodle.png' %></div>
          <div class="card-body">
            <h4 class="card-title">Movie</h4>
            <p class="card-text"></p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top"><%= image_tag 'DancingDoodle.png' %></div>
          <div class="card-body">
            <h4 class="card-title">Music</h4>
            <p class="card-text"></p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top"><%= image_tag 'SitReadingDoodle.png' %></div>
          <div class="card-body">
            <h4 class="card-title">Study</h4>
            <p class="card-text"></p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top"><%= image_tag 'ReadingSideDoodle.png' %></div>
          <div class="card-body">
            <h4 class="card-title">Book</h4>
            <p class="card-text"></p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top"><%= image_tag 'StrollingDoodle.png' %></div>
          <div class="card-body">
            <h4 class="card-title">Fasion</h4>
            <p class="card-text"></p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top"><%= image_tag 'MeditatingDoodle.png' %></div>
          <div class="card-body">
            <h4 class="card-title">and more..</h4>
            <p class="card-text"></p>
          </div>
      </div>
      </div>
  </div>
</body></br>

<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a class="btn btn-xl index-button" href="/subscriptions">サブスクリプションを探す!</a>
      </div>
      </div>
    </div>
  </div>
</section>