<div class="container">
 <div class="row">
  <div class="col m-3">
    <h2>サブスクリプション一覧</h2><br>
      <!--jsで呼びだす星の画像-->
    <div style="display: none;">
      <p class="star-on"><%= asset_path('star-on.png') %></p>
      <p class="star-off"><%= asset_path('star-off.png') %></p>
      <p class="star-half"><%= asset_path('star-half.png') %></p>
    </div>

    <div class = "search_form">
      <%= form_with url: search_subscriptions_path, local: true, method: :get do |f| %>
     <!--検索ワードをアクションに送る値＝word-->
      <%= f.text_field :word %>
     <!--選択したいモデルを追加、ジャンルは初期値が全てになるように設定-->
      <%= f.select :genre, @genre_map, selected: 0 %>
      <%= f.select :range, options_for_select([['Subscription','1'],['Genre','2']]) %>
      <!--検索方法のオプション-->
      <%= f.select :search, options_for_select([["完全一致","perfect_match"],["部分一致","partial_match"]]) %>
      <%= f.submit "検索" %>
      <% end %>
    </div></br>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th scope="col">サブスク名</th>
          <th scope="col">ジャンル</th>
          <th scope="col">料金</th>
          <th scope="col">支払日</th>
          <th scope="col">レビュー数</th>
          <th scope="col">平均評価</th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |subscription| %>
        <tr>
          <th scope="low"><%= link_to subscription.subscription_name, subscription_path(subscription) %></th>
          <th scope="low"><%= subscription.genre.name %></th>
    	    <th scope="low"><%= subscription.subscription_fee.to_s(:delimited) %>円</th>
          <th scope="low"><%= subscription.payment_date %></th>
    	    <th scope="low"><%= subscription.reviews.count%>件</th>
          <th scope="low">
            <div class ="star-rate" data-review = <%= subscription.reviews.average(:rate).to_f.round(1) %>></div>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
 </div>
</div>