<div class="container"></br>
<h1 class>サブスクリプション詳細</h1><br>
  <!--jsで呼びだす星の画像-->
  <div style="display: none;">
    <p class="star-on"><%= asset_path('star-on.png') %></p>
    <p class="star-off"><%= asset_path('star-off.png') %></p>
    <p class="star-half"><%= asset_path('star-half.png') %></p>
  </div>

  <div class="row">
    <div class = "col-9 mt-5" >
      <div class="row">
        <div class="col -5 mt-3" >
          <%= attachment_image_tag @subscription, :subscription_image, :fill, 200, 200  %>
        </div>
        <div class = "col -5" >
          <table class="table table-hover table-inverse">
            <tr>
              <th>サブスク名</th>
    	        <td><%= @subscription.subscription_name %></td>
            </tr>
            <tr>
    	        <th>ジャンル</th>
    	        <td><%= @subscription.genre.name %></td>
    	      </tr>
    	      <tr>
    	        <th>料金</th>
    	        <td><%= @subscription.subscription_fee.to_s(:delimited) %></td>
    	      </tr>
    		    <tr>
    	        <th>支払月</th>
    	        <td><%= @subscription.payment_date %></td>
    	      </tr>
    	      <th>レビュー数</th>
    	        <td><%= @subscription.reviews.count %></td>
    	      <tr>
    	        <th>平均評価</th>
    	        <td>
    	          <div class ="star-rate" id ="star-rate-average<%= @subscription.id %>" data-review = <%= @subscription.reviews.average(:rate).to_f.round(1) %>></div>
    	          <!--classはstar-rateで統一。どのような形で星を出したいかはdata-reviewで統一。-->
    	        </td>
    	      </tr>
    	    </table>
    	  </div>
      </div>
    </div>

  <div class="col-12">
    <% if flash[:success] %>
      <div class="alert alert-success col-4"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:danger] %>
      <div class="alert alert-danger col-4"><%= flash[:danger] %></div>
    <% end %>
    <% @reviews.each do |review| %>
    <div class="col my-5 border border-radius border-danger">
      <div class = "col-md-12 d-inline-block">
        <div class = "review-content col">
          <div class="edit-button col-12 d-inline-flex">
            <p class ="col-4 mt-2"><%= review.updated_at.strftime("%Y-%m-%d %H:%M:%S")  %></p>
            <div class = "text-right col-8">
              <% if current_user == review.user %>
              <%= link_to '口コミを編集', edit_subscription_review_path(@subscription,review), method: :get, class:'btn btn-default' %>
              <%= link_to '口コミを削除', subscription_review_path(@subscription,review) , method: :delete, "data-confirm" => "本当に削除しますか?", class:'btn btn-default' %>
              <% end %>
            </div>
          </div>
          <h4 class = "review-user">ユーザー名：<%= review.user.user_name %></h4>
          <h4 class ="mb-3  d-inline-flex">
            評価:<div class = "star-rate star-size20" data-review = <%= review.rate %>></div>
            ｜<%= review.title %>
          </h4>
          <div class="review-body col-11 ml-2">
            <p><%= review.body %></p>
          </div>
        </div>
      <div = "favorite_buttons_<%= review.id %>">
        　<%= render "user/shared/favorite", review: review, subscription: @subscription %>
      </div>
      </div>
    </div>
    <% end %>
    <%= paginate @reviews %>
  </div>

    <div class="col-md-10">
      <%= flash[:notice] %>
      <h2>レビューを書く</h2>
        <%= flash[:failed] %>
      <div class = "rating-box mt-3" >
        <%= form_with model: @review, url: subscription_reviews_path(@subscription.id), local: true do |f| %>
          <%= f.hidden_field :subscription_id, { value: @subscription.id} %>
        <!-- タイトル -->
          <div class="form-group row">
            <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
            <div class="col-md-9">
              <%= f.text_field :title, class: "form-control",
              placeholder:'一番伝えたいことを記入してください' %>
            </div>
          </div>
        <!-- 星の評価 -->
          <div class="review-rate" id="rate">
            <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
            <%= f.hidden_field :star, id: :review_star %>
          </div><br>
        <!-- 口コミ -->
          <div class="form-group row">
            <%= f.label :body, '口コミ内容', class:'col-md-3 col-form-label' %>
            <div class="col-md-9">
              <%= f.text_area :body, class: "form-control", rows: "8",placeholder:'ここに詳細を記入してください' %>
            </div>
          </div>
        <!-- 確認ボタン -->
          <div class="form-group row justify-content-end">
            <div class="col-md-9">
              <%= f.submit '投稿する', class:"btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>